body {
    background-color: lightslategray;
}

.profilePic {
    height: 8%;
    width: 8%;
}

.profileName {
    padding-left: 1%;
    display: inline-block;
}

.bio {
    color: blue;
}

#bio {
    display: inline-block;
}

.favoriteFoods {
    color: blue;
}